<div class="container-detail" *ngIf="ItemDesResponse">
    <div class="imagen">
        <div class="row1">
            <img [src]="ItemDesResponse.item.picture" >
        </div>
        <div class="row2">
            <div class="col1">{{ItemDesResponse.item.condition +' '+ ItemDesResponse.item.sold_quantity + 'vendidos'}}</div>
            <div class="col2 title-price">{{ItemDesResponse.item.title}}</div>
            <div class="col3 price">{{ItemDesResponse.item.price.amount}}</div>
            <div class="col4"><button class="my-button">Comprar</button></div>
        </div>
    </div>
    <div class="description">
        <div class="title">{{titleDescription}}</div>
        <div class="text-general">{{ItemDesResponse.item.description}}</div>
    </div>
</div>